<!DOCTYPE html>
<html>
<head>
	<title>todolist</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
	<div id="root">
		<input type="text" v-model="task">
		<button @click="handleClick">提交</button>
		<ul>
			<todolist  v-for="(item,index) of list" :content="item"  :key="index"></todolist>
			<!-- content是自定义属性 -->
		</ul>
	</div>

	<script type="text/javascript">
		//利用全局组件
		/*Vue.component('todolist',{
			props:['content'],          //接收父组件传来的属性
			template:'<li>{{content}}</li>'
		})
		new Vue({
			el:"#root",
			data:{
				task:'',
				list:[]
			},
			methods:
			{
				handleClick:function(){
					this.list.push(this.task)
					this.task=''
				}
			}
		})*/

		//利用局部组件
		var TOdolist={
			template:'<li>{{content}}</li>',
			props:['content']
		}
		new Vue({
			el:"#root",
			data:{
				task:'',
				list:[]
			},
			components:{
				'todolist':TOdolist
			},
			methods:
			{
				handleClick:function(){
					this.list.push(this.task)
					this.task=''
				}
			}
		})
	</script>
</body>
</html>